html, body, h1, a, p, ul, li {
    margin: 0;
    padding: 0;
}

body * {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background-color: #777;
    color: #fff;
    font-family: sans-serif;
    font-size: 6vw;
}

div {
	margin: 0 auto;
	margin-top: 12%;
	padding: 15px;
	width: 80%;
	background-color: #515151;
	box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.8);
	min-height: 100px;
}
p:not(:last-child) {
	margin-bottom: 15px;
	word-break: break-all;
}

@media (min-width: 500px) {
	body {
		font-size: 20px;
	}
	div {
		width: 380px;
		margin-top: 100px;
	}
}